<h1>Edit Article</h1>

<% @article.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<%= form_for @article do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_field :body%>
  
  <%= f.label :draft %>
  <%= f.check_box :draft %>

  <%= f.submit %>

<% end %>