<h1><%= @name %></h1>
<%= link_to( "Check out my rad projects.", projects_path) %>
<%= link_to( "Get in touch.", new_contact_path) %>
<%= link_to( "See my favorite links.", links_path) %>
<%= link_to( "Read my blog articles", articles_path) %>