<h1><%= @contact.name %></h1>
<div class="contact">
  <p><%= @contact.email %></p>
  <p><%= @contact.subject %></p>
  <p><%= @contact.message %></p>
</div>

<div class="bottom_link"><%= link_to "All Contacts", contacts_path %></div>