<div class="form_field">
  <% @project.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  <%= form_for @project do |f| %>
    <%= f.label :name %>
    <p><%= f.text_field :name %></p>
    <%= f.label :summary %>
    <p><%= f.text_field :summary %></p>
    <%= f.label :status %>
    <p><%= f.text_field :status%></p>
    <%= f.label :github %>
    <p><%= f.text_field :github %></p>
    <p><%= f.file_field :photo %></p>
    <div class="action">
      <%= f.submit %>
    </div>
  <% end %>
</div>