<h1><%= @project.name %></h1>
<div class="project">
  <h2><%= @project.summary %></h2>
  <h2><%= link_to"Take a Look!", (@project.github) %></h2>
  <h2><%= @project.lesson %></h2>
  <h2><%= @project.status %></h2>
</div>

<% if current_user %>
<div class="bottom link"><%= link_to "Edit Project", edit_project_path %></div>
<div class="bottom link"><%= link_to "Destroy Project", project_path, action: "destroy", id: @project %></div>
<% end %>