<h1><%= @project.name %></h1>
<div class="project">
  <p><%= @project.summary %></p>
  <img src=<%= @project.photo %>>
  <p><%= link_to"View my branch of the CODE on Github.", (@project.github) %></p>
  <p><%= @project.lesson %></p>
  <p><a href=<%= @project.status %>>Visit the project on the web!</a></p>
</div>

<% if current_user %>
<div class="bottom_link"><%= link_to "Edit Project", edit_project_path %></div>
<div class="bottom_link"><%= link_to "Destroy Project", projects_path, action: "destroy", id: @project.id %></div>
<% end %>