<div class="form_field">
  <% @link.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  <%= form_for @link do |f| %>
    <%= f.label :name %>
    <p><%= f.text_field :name %></p>
    <%= f.label :url %>
    <p><%= f.text_field :url %></p>
    <div class="action">
      <%= f.submit %>
    </div>
  <% end %>
</div>