<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  <title>Portfolio</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
<body>
  <header> 
    <div id="name">Kathryn Schroeder
      <p>web design and development</p>
    </div>
    <div class="nav_bar"><ul>
    <% if current_user %>
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to "About", links_path %></li>
      <li><%= link_to "Log out", logout_path %></li>
    <% else %>
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to "About", links_path %></li>
      <li><%= link_to "Sign up", signup_path %></li>
      <li><%= link_to "Log in", login_path %></li>
    <% end %>
    </ul></div>
    <div id="clear_float"></div>
  </header>
  <div class="flash">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
  </div>

<%= yield %>

</body>
</div>
</html>
