<!DOCTYPE html>
<html>
<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<div class="container">
  <header> 
    <div class="profile_pic"><img src=""></img>
    <div id="name">Kathryn Schroeder
      <p>web design and development</p>
    </div>
    <div class="nav_bar"><ul>
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to "About", links_path %></li>
      <li><%= link_to "Log In", login_path %></li>
    </ul>
    </div>
    <div id="clear_float"></div>
  </header>

  <body>
    <div class="flash">
      <% if flash[:notice] %>
        <p id="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p id="alert"><%= flash[:alert] %></p>
      <% end %>
      <% if current_user %>
         Logged in as <%= current_user.email %>
      <% else %>
        You are not logged in.
      <% end %>
    </div>

<%= yield %>

</body>
</div>
</html>
